@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

<div class="illat-intro">
    <h2>Illatajánló Teszt</h2>
    <p>Töltsd ki a kérdőívet, és megtaláljuk a hozzád legjobban illő parfüm típusokat!</p>
    <a class="btn btn-primary" href="@Url.Action("Kerdes", "Item", new { id = 1, ctl = "Kerdes" })">Irány a teszt!</a>
</div>
