@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

<div class="illat-intro">
    <h1>Illatajánló Teszt</h1>

    <p>
        Szeretnél egy parfümöt, ami igazán kifejezi a személyiségedet? <br />
        Töltsd ki rövid kérdőívünket, és segítünk megtalálni a hozzád leginkább illő illatkategóriát!
    </p>

    <a class="dnnPrimaryAction"
       href="@Url.Action("Kerdes", "Item", new { id = 1, ctl = "Kerdes" })"
       >
        Irány a teszt!
    </a>
</div>
